{% extends "base.html" %}

{% block content %}
<div class="card-header">
    <h4 class="login-title">Welcome to SimpleBankApp</h4>
</div>

<div class="text-center mb-4">
    <h5>Hello, {{ current_user.username }}!</h5>
    <p>What would you like to do today?</p>
</div>

<div class="row mt-4">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-wallet"></i> Account</h5>
                <p class="card-text">View your balance and recent transactions</p>
                <a href="{{ url_for('account') }}" class="btn btn-primary">Go to Account</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-arrow-left-right"></i> Transfer</h5>
                <p class="card-text">Send money to another user account</p>
                <a href="{{ url_for('transfer') }}" class="btn btn-primary">Make a Transfer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
